<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치 권한좀 주세요 제발~</string>
	<key>NSLocationUsageDescription</key>
	<string>위치 권한좀 주세요 제발~~</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 권한좀 주세요 제발~~~</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>위치 권한좀 주세요 제발 ~~~~~</string>
	<key>NSMotionUsageDescription</key>
	<string>모션 권한좀 주세요 제발~~~~~</string>
</dict>
</plist>
