<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자 위치 추적을 위해 권한을 허용해주세요.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>위치 권한좀 주세요 제발 ~~~~~</string>
	<key>NSMotionUsageDescription</key>
	<string>발걸음수 측정을 위해 권한을 허용해주세요.</string>
</dict>
</plist>
